*{
    margin: 0 !important ;
     padding:0 !important ; 
}
html,body{
    
    height: 100%;
}
#navbar{
    background-color:#1166ee;
    width: 100%;
    height: 10%;
    display: flex;
    align-self:center;
    justify-content: center;
    
    
}
#navbar__flex{
    width: 97%;
    background-color:#1166ee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#navbar__logo{

   
    width: fit-content;
    font-size: 7vmin;
    color: white;
    font-weight: 800;
    margin-right: 1.5vmin !important;
}
*:focus {
    outline: none;
}
#navbar__searchBar{
    background-color: white;
    flex-grow: 2;
    height: 60%;
    margin-right: 1vmin !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}
#navbar__searchIcon{
    font-size: 5vmin;
    margin: 1vmin !important;
    color: rgb(192, 189, 189);

}
#navbar__searchBar__input{
    flex-grow: 1;
    
    border:none;
    font-size: medium;

}
#navbar__cartIcon{
    /* flex-grow: 1; */
    font-size: 6vmin;
    color: white;
    
}
